.git
.github
.env
.mypy_cache
__pycache__
*.py[cod]
*.log
*.jar
*.tmp
*.zip
*.AppImage
*.AppImage.zsync
.DS_Store
AppDir
appimage-build
appimage-builder
build
dist
env
cache
settings.json
dump.dat
lock.file
log.txt
